.image {
  max-width: 10vw;
  object-fit: contain;
  height: 170px;
  /* box-shadow: 48px 56px 91px -3px rgba(254, 174, 81, 0.43);
  -webkit-box-shadow: 48px 56px 91px -3px rgba(254, 174, 81, 0.43);
  -moz-box-shadow: 48px 56px 91px -3px rgba(254, 174, 81, 0.43); */
  box-shadow: 7px 7px 54px -13px rgba(252, 70, 107, 0.64);
  -webkit-box-shadow: 7px 7px 54px -13px rgba(252, 70, 107, 0.64);
  -moz-box-shadow: 7px 7px 54px -13px rgba(252, 70, 107, 0.64);
  /* filter: brightness(); */
}

.simple_text {
  text-decoration: none;
  color: black;
}

.card a {
  color: black;
}

.card a :hover {
  color: rgb(41, 44, 233);
}

.fav_buttons {
  display: flex;
  justify-content: flex-end;
  grid-column-gap: 10px;
  padding-bottom: 10px;
}

.card_buttons {
  display: flex;
  justify-content: space-between;
  grid-column-gap: 10px;
  padding-bottom: 10px;
}

.card {
  box-shadow: -1px 21px 35px -3px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: -1px 21px 35px -3px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: -1px 21px 35px -3px rgba(0, 0, 0, 0.27);
  /* background: inherit; */
  width: 20vw;
  padding: 10px;
  padding-top: 20px;
  background: rgba(255, 255, 255, 0.9);
  /* padding-bottom: 20px; */
  /* background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 0.9) 6%,
    rgba(255, 255, 255, 0.85) 63%
  ); */
  border-radius: 20px;
  overflow: hidden;
}

@media (min-width: 500px) and (max-width: 800px) {
  .image {
    max-width: 15vw;
    object-fit: contain;
    height: 90px;
  }
  .card {
    width: 30vw;
  }
}

@media (max-width: 500px) {
  .image {
    max-width: 70vw;
    object-fit: contain;
    height: 90px;
  }
  .card {
    width: 80vw;
  }
}

/* .card:before {
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
} */
